@font-face {
  font-family: "MortModern-02LargeRegularItalic";
  src: url(MortModern-02LargeRegularItalic.otf);
}

@font-face {
  font-family: "MortModern-07LightItalic";
  src :url(MortModern-07LightItalic.otf);
}

html {
  background: white;
}

body {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
}

h3 {
  font-size: 3.75em;
  text-transform: uppercase;
}

p {
  font-family: "MortModern-07LightItalic", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

a {
  font-family: "MortModern-02LargeRegularItalic", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}
