
@font-face {
  font-family: 'UCity Regular';
  src: url('../fonts/UCityProTrial-Regular.otf') format("otf");
  src: url('../fonts/UCityProTrial-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'UCity Regular', serif;
  color: black;
  max-width: 75%;
  margin: auto;
  margin-top: 3%;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  /* text-transform: uppercase; */
  color: black;
  font-size: 0.8em;
}

a {
  color: gray;
  text-decoration: none;
}

#philosophy {
  margin-top: 5%;
  padding: 0%;
}

#philosophy_header {
    margin-bottom: 0px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 75%;
  margin: auto;
  color: #CCCCCC;
  position: fixed;
  bottom: 0;
  background-color: white;
}

#footer_id {
  text-align: center;
}
